@font-face {
	font-family: "SuisseIntl Book";
	src: url("../fonts/SuisseIntl-Book.otf") format("opentype");
}
@font-face {
	font-family: "SuisseIntl Bold";
	src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
}
@font-face {
	font-family: "SuisseIntl Thin";
	src: url("../fonts/SuisseIntl-Thin.otf") format("opentype");
}